@import '../styles/palette';

.project {
    background: $grey-primary;
    // display:flex;
    // flex-direction: column;
    // // text-align: center;
    // // padding: 0.25em;
    margin: 0.1em;
    border-radius: 1vw;
    // background: $grey-primary;
    // margin: .3em;
    // // border: 0px;
    // // padding: 0px;
    // background: $grey-primary;
    // outline-color: black;
    // outline-style: auto;
    // outline-width: 100px;
    z-index: 1;
}

.projectbody {
    transition: background .25s ease;
    // display:flex;
    // flex-direction: column;
    text-align: center;
    padding: 0.25em;
    // margin: 0.25em;
    border-radius: 1vw;
    background: $grey-primary;
    // margin: .3em;
    border: 0px;
    padding: 0px;
    margin: 0em;
}

.projectbody:hover {
    background: $grey-secondary;
    cursor: pointer;

}
 

.title {
    cursor: auto;
    text-align: center;
    color:$red-primary;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0px;
    // margin-bottom: 5px;
    border: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.description {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin: 0px;
    border: 0px;
    padding: 1rem 0rem;
}

.techgrid {
    margin-top: auto;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.1em;
    flex-wrap: wrap;
}

.linkgrid {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.socialmediaicon {
    margin: 0em 1em;
    margin-top: 0em;
    margin-bottom: 0.1em;
}

.technology {
    font-size: .8em;
    margin: 5px 5px;
    border: 0px;
    padding: 5px;
    background-color: $red-primary;
    border-radius: 10px;
    font-weight: bold;
}

.img {
    object-fit: cover;

    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;

    margin: 0px;
    border: 0px;
    padding: 0px;
    
}