@import '../styles/palette';

.project {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 1vw;
    background: $grey-primary;
    margin: .3em;
    border: 0px;
    padding: 0px;
    transition: background .25s ease;
}

.project:hover {
    background: $grey-secondary;
    cursor: pointer;
}

.title {
    text-align: center;
    color:$red-primary;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
    border: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.description {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin: 0px;
    border: 0px;
    padding: 1rem 0rem;
}

.techgrid {
    margin-top: auto;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.1em;
    flex-wrap: wrap;
}

.technology {
    font-size: .8em;
    margin: 5px 5px;
    border: 0px;
    padding: 5px;
    background-color: $red-primary;
    border-radius: 10px;
    font-weight: bold;
}

.img {
    object-fit: cover;

    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;

    margin: 0px;
    border: 0px;
    padding: 0px;
}