$fullscreen-columns: 3;
$fullscreen-fit-percent: 30vw;

.project-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat($fullscreen-columns, fit-content($fullscreen-fit-percent));
}

@media only screen and (max-width: 1200px) {
  .project-grid {
      grid-template-columns: fit-content(100%);
  }
}