@use "sass:math";

$fullscreen-columns: 3;
// $fullscreen-fit-factor: calc(400px - 1vw);
$fullscreen-fit-factor: 25%;
// $fullscreen-fit-factor: calc(500px - 8vw);

.project-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat($fullscreen-columns, fit-content($fullscreen-fit-factor));
}

@media only screen and (max-width: 1200px) {
  .project-grid {
      grid-template-columns: fit-content(100%);
  }
}